body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
.container {
    background-color: #fff;
    padding: 120px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.container h2 {
    margin-bottom: 20px;
}
.genres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}
.genres label {
    display: flex;
    align-items: center;
}
.genres input[type="checkbox"] {
    margin-right: 10px;
}
.button {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #002244;
}