body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.signup-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.sub-text {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;
    background: white;
}

.input-group label {
    width: 100px;        /**/
    padding: 12px;       /**/
    font-size: 16px;     /**/
    font-weight: bold;   /**/
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.signup-btn {
    width: 30%;
    padding: 10px;
    background: #0c2340;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn:hover {
    background: #08172c;
}
