<!-- genre/main 분기 나누는 코드 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        window.addEventListener("DOMContentLoaded", async () => {



            try {
                const res = await fetch("/api/user/current", {
                    credentials: "include"
                });

                const contentType = res.headers.get("Content-Type");
                if (!res.ok || !contentType.includes("application/json")) {
                   return new Error("비정상 응답");
                }

                const userData = await res.json();
                const genreSelected = Number(userData.genreSelected);

                // 2초 후 화면이 넘어갈 수 있게
                setTimeout(() => {
                    if (genreSelected === 1) {
                        window.location.href = "/main";
                    } else {
                        window.location.href = "/genre";
                    }
                }, 2000); // 3초

            } catch (error) {
                console.error("리다이렉트 중 오류 발생:", error);
                window.location.href = "/login";
            }
        });
    </script>
    <style>
        body {
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
<h2><img src="/images/Logo_1.png" alt="OLA 로고"></h2>
<p>페이지 이동중</p>
</body>
</html>
