<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTT 선택 페이지</title>
  <link rel="stylesheet" href="/css/viewport.css">
</head>
<body>
<div class="container">
  <h1>구독중인 서비스를 선택해주세요</h1>
  <div class="ott-options">
    <label class="ott">
      <input type="radio" name="ott" value="watcha" data-selected ="false">
      <div class="circle watcha"></div>
    </label>
    <label class="ott">
      <input type="radio" name="ott" value="coupangplay" data-selected ="false">
      <div class="circle coupangplay"></div>
    </label>
    <label class="ott">
      <input type="radio" name="ott" value="tving" data-selected ="false">
      <div class="circle tving"></div>
    </label>
    <label class="ott">
      <input type="radio" name="ott" value="netflix" data-selected ="false">
      <div class="circle netflix"></div>
    </label>
  </div>
  <button id = "goMainBtn" class="select-btn" disabled>선택완료</button>
</div>

<!-- 기존 JS -->
<script src="/js/viewport.js" defer></script>
<!-- 추가된 애니메이션 JS -->
<!--<script src="/js/ottHoverEffect.js" defer></script> -->
</body>
</html>
